/.venv
/99_bottles.py
/bmi.py
/calculator.py
/coin_flip.py
/detention.py
/enter_pin.py
/fizz_buzz.py
/grades.py
/guess.py
/hello_world.py
/hypotenuse.py
/initials.py
/login.txt
/login_system.py
/magic8.py
/pattern.py
/ph_levels.py
/sign_in.txt
/temperature.py
/testing.py
/the_cyclone.py
/turtle_1.py
/Visual Studio Code.lnk